In [5]:
#list operation
arr1 = [1,2,3,4,5,6,7,8,9,10]
sq = [a**2 for a in arr1]
print(sq)
sum_sq=sum(sq)
print("Sum of all list Value",sum_sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
Sum of all list Value 385

In [16]:
#tuple operation
#  using list comprehension
even_numbers = [x for x in range(2, 12, 2)]

# Convert the list of even numbers into a tuple
even_tuple = tuple(even_numbers)

product = 1
for num in even_tuple:
    product *= num


print("Product of all elements in the tuple:", product)

Product of all elements in the tuple: 3840

In [6]:
#set operation

set1 = {x for x in range(1, 11) if x % 2 != 0}
set2 = {x for x in range(1, 11, 2)}

union = set1.union(set2)
print("Union the sets value :", union)

intersection = set1.intersection(set2)
print("Intersection the sets value:", intersection)

Union the sets value : {1, 3, 5, 7, 9}
Intersection the sets value: {1, 3, 5, 7, 9}

In [7]:
#dictionary operation

ascii_dict = {chr(i): i for i in range(ord('a'), ord('e') + 1)}

print("Dictionary with lowercase alphabets and their ASCII values:")
print(ascii_dict)

Dictionary with lowercase alphabets and their ASCII values:
{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101}

In [15]:
# function operation
def square(x):
    return x ** 2 
    
numbers = list(range(1, 11))
squared_numbers = list(map(square, numbers))
print("Original list:", numbers)
print("Squared list:", squared_numbers)

Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Squared list: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]